include .config.inc.pug

mixin project(date, title, link, pic, tags)
  - var id = title.replace(/\W+/g, "").toLowerCase()
  article.project(id=id)
    .info
      span.date
        i.fa.fa-calendar
        | &#160;#{date}
      a(href=link)
        h2= title
      block
      if tags
        each tag in tags
          span.tag=tag
      a(href=link)
        h3
          i.fa.fa-link
          | &#160;More details

    .visual
      a(href=link)
        if ! pic
          - pic = profilePicUrl
        img(src=pic)


html
  block vars
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    meta(name="description", content=metaDescription)
    block meta
    title= name + " | " + title
    link(rel="stylesheet", href="./css/all.min.css")
    link(rel="icon", href="favicon.ico")
  body
    header
      #me
        img(src=profilePicUrlMini)
        h1= name
      #about
        p= about
      #links
        a(href=linkedinProfile, title="LinkedIn")
          i.fa.fa-linkedin
        a(href=githubProfile, title="Github")
          i.fa.fa-github
        a(href=resumeLink, title="My resume")
          i.fa.fa-file-text
      ul#nav
        li
          a(href="/", title="Projects")
            i.fa.fa-lightbulb-o
            |
            | Personal projects
        li
          a(href="/about.html", title="About")
            i.fa.fa-info
            |
            | About
        li
          a(href="/blog.html", title="Blog")
            i.fa.fa-list
            |
            | Blog
    block content
    footer
      a(href=sourceWebsite)
        i.fa.fa-code-fork
        |
        | This website is self-made & open-source
    .scripts
      script(src="js/all.min.js")
