include .config.inc.pug

mixin project(date, title, link, pic, tags)
  - var id = title.replace(/\W+/g, "").toLowerCase()
  article(id=id)
    .info
      span.date
        i.fa.fa-calendar
        | &#160;#{date}
      a(href=link)
        h2= title
      block
      if tags
        each tag in tags
          span.tag=tag
      a(href=link)
        h3
          i.fa.fa-link
          | &#160;More details

    .visual
      a(href=link)
        if ! pic
          - pic = profilePicUrl
        img(src=pic)

html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0')
    title= name
    link(rel="stylesheet", href="./css/all.min.css")
  body
    header
      #me
        img(src=profilePicUrlMini)
        h1= name
      #about
        p= about
      #links
        a(href=linkedinProfile, title="LinkedIn")
          i.fa.fa-linkedin
        a(href=githubProfile, title="Github")
          i.fa.fa-github
        a(href=resumeLink, title="My resume")
          i.fa.fa-file-text
      ul#nav
        li
          a(href="/", title="Projects")
            i.fa.fa-lightbulb-o
            | &#160;Projects
        li
          a(href="/about.html", title="About")
            i.fa.fa-info
            | &#160;About
        li
          a(href="/blog.html", title="Blog")
            i.fa.fa-lightbulb-o
            | &#160;Blog
    block content
    footer
      a(href=sourceWebsite)
        i.fa.fa-code-fork
        | &#160;This website is open-source
      p Created by Sylvain DOIGNON, 2017
